<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" 
                    (click)="onlyOdd = !onlyOdd">
                    Only Show odd numbers
            </button>
            <br><br>
            <ul class="list-group">
                <div *ngIf="onlyOdd">
                    <li class="list-group-item" 
                        [ngClass] = "{odd: odd % 2!==0}"
                        [ngStyle] = "{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
                        *ngFor="let odd of oddNumbers">
                        {{odd}}
                    </li>
                </div>
                <!-- <div *ngIf="!onlyOdd">
                    <li class="list-group-item" 
                        [ngClass] = "{even: even % 2!==0}"
                        [ngStyle] = "{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
                        *ngFor="let even of evenNumbers">
                        {{even}}
                    </li>
                </div> -->
                <div *appUnless="onlyOdd">
                    <li class="list-group-item" 
                        [ngClass]="{even: even % 2!==0}"
                        [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}" 
                        *ngFor="let even of evenNumbers">
                        {{even}}
                    </li>
                </div>
                <p appBasicHighlight>Hi there iAM with Cust Dir </p>
                <p appBackHighLightRed 
                        [dafaultColor]="'yellow'" 
                        [highlightColor]="'red'"> 
                        Hi its for red Directive Custom
                    </p>
                    <div [ngSwitch]="value">
                        <p *ngSwitchCase="5">value is 5</p>
                        <p *ngSwitchCase="10">value is 10</p>
                        <p *ngSwitchCase="100">value is 100</p>
                        <p *ngSwitchDefault>value is default</p>
                    </div>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="container">


<div class="row">
    <div class="col-12">
      <app-game-controls (emittedGameInterval) = "eventOnEmition($event)"></app-game-controls>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-odds *ngFor = "let oddsnums of oddNums" [number] = "oddsnums"></app-odds>
        <app-evens *ngFor = "let evensnums of evenNums" [number] = "evensnums"></app-evens>
    </div>
</div> -->
  
<!-- <div class="row">
    <div class="col-12">
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
</div> -->
    

    <!-- <div class="row">
        <div class="col-12">
            <app-odd *ngFor="let oddNumber of oddNumbers" [number] = "oddNumber"></app-odd>
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
        </div>
    </div> -->

    <!-- <app-cockpit (serverCreated)="onServerAdded($event)"
                 (bluePrintCreated)="onBluePrintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">
                Change first Element
            </button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destry Frirst</button>
            <app-server-element 
                *ngFor ="let serverElement of serverElements"
                [srvElement]="serverElement"
                [name] = "serverElement.name">
            <p #contentParagraph>
                <strong *ngIf="serverElement.type === 'server'" style="color: red">{{serverElement.content}}</strong>
                <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
            </p></app-server-element>    
        </div>
    </div> -->
<!-- </div> -->

<!-- 

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h3>You are now using App Component</h3>
        <button class="btn btn-primary" (click) = "onAddServer()">
        Add Server
        </button>
        <br>
        <br>
        <hr>

        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let server of servers; let i = index"
                (click)="onRemoveServer(i)">{{server}}</li>
        </ul> -->
        <!-- <app-servers></app-servers> -->

        <!-- <app-success-alert></app-success-alert> -->
        <!-- <app-warning-alert></app-warning-alert>     -->
<!-- 
        </div>
    </div>
</div> -->